@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/themes/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/themes/client/css/nivo-slider.css" type="text/css" media="screen" />
<script type="text/javascript" src="~/Scripts/client/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider({ controlNav: true});
    });
</script>
<div class="full" id="top-index">
    <div id="top-index-content" class="rwidth">
        <p style="text-align:center;">
            <span style="float:left;">Hotline: 0985.44.55.65<strong></strong></span>
            @foreach (var item in (IEnumerable<Nes.Dal.EntityModels.News>)ViewBag.HotLine)
            {
                <span><a href="/Content/Detail/@item.ID" title="@item.Title">@item.Title</a></span>
            }

        </p>
    </div>
</div>
<div class="full">
    <div id="slider" class="rwidth nivoSlider">
        @foreach (var slide in (IEnumerable<Nes.Dal.EntityModels.Slide>)ViewBag.TopSlides)
        {
            <a href="@slide.Link" data-thumb="@slide.Images"><img src="@slide.Images" height="417" /></a>
        }
    </div>
</div>