@model IEnumerable<Nes.Web.Areas.Admin.Models.MenuViewModel>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="@Nes.Resources.NesResource.AdminHomeSearchText">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/admin/home/index"><i class="fa fa-dashboard fa-fw"></i>@Nes.Resources.NesResource.AdminHomeMenuText</a>
            </li>
            @foreach (var item in Model)
            {
                <li>
                    @{
                        var arrowCss = item.Children.Count > 0 ? "fa arrow" : "";
                    }
                    <a href="@item.Link" target="@item.Target"><i class="@item.CssClass"></i> @item.Text<span class="@arrowCss"></span></a>
                    @if (item.Children.Count > 0)
                    {
                        <ul class="nav nav-second-level">
                            @foreach (var child in item.Children)
                            {
                                <li>
                                    <a href="@child.Link" target="@child.Target">@child.Text</a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }

        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->