
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/Admin/Home/Index">@ViewBag.SystemNameText</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li>
           
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink(User.Identity.Name, "Home", "Index");
            }
        </li>
        <li>
            <a href="/">Trang client</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>

                    @Html.ActionLink(@Nes.Resources.NesResource.AdminMasterLogoutText, "Logout", "Account");
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
        <li>
            @using (Html.BeginForm("ChangeCulture", "Base", FormMethod.Post))
            {
                @Html.Hidden("returnUrl", Request.Url.AbsoluteUri)
                @Html.DropDownList("language", (SelectList)ViewBag.Languages, new { @onchange = "this.form.submit();" })
            }

        </li>
    </ul>
    <!-- /.navbar-top-links -->

</nav>